@font-face{
    font-family:'CooperHewitt-Book';
    src:url("../fonts/CooperHewitt-Book.eot");
    src:url("../fonts/CooperHewitt-Bookd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/CooperHewitt-Book.woff") format("woff"),url("../fonts/CooperHewitt-Book.ttf") format("truetype"),url("../fonts/CooperHewitt-Book.svg#CooperHewitt-Book") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'CooperHewitt-Medium';
    src:url("../fonts/CooperHewitt-Medium.eot");
    src:url("../fonts/CooperHewitt-Mediumd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/CooperHewitt-Medium.woff") format("woff"),url("../fonts/CooperHewitt-Medium.ttf") format("truetype"),url("../fonts/CooperHewitt-Book.svg#CooperHewitt-Book") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'CooperHewitt-Semibold';
    src:url("../fonts/CooperHewitt-Semibold.eot");
    src:url("../fonts/CooperHewitt-Semiboldd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/CooperHewitt-Semibold.woff") format("woff"),url("../fonts/CooperHewitt-Semibold.ttf") format("truetype"),url("../fonts/CooperHewitt-Book.svg#CooperHewitt-Book") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'PT-Sans-Bold';
    src:url("../fonts/PT-Sans-Bold.eot");
    src:url("../fonts/PT-Sans-Boldd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/PT-Sans-Bold.woff") format("woff"),url("../fonts/PT-Sans-Bold.ttf") format("truetype"),url("../fonts/PT-Sans-Bold.svg#PT-Sans-Bold") format("svg");
    font-weight:normal;
    font-style:normal
}
body{
    text-rendering:optimizeLegibility;
    font-family:CooperHewitt-Book;
    font-weight:normal;
    font-style:normal;
    font-size:100%;
    font-size:17px;
    line-height:normal;
    color:#333;
    background:#fff
}
h1,h2,h3,h4{
    font-family:CooperHewitt-Semibold;
    font-weight:normal;
    font-style:normal
}
h1{
    font-family:CooperHewitt-Book;
    font-size:1.588em;
    margin-bottom:30px
}
h2{
    font-size:1.118em;
    margin-bottom:13px
}
h3{
    color:#4b90cd;
    font-size:1em;
    margin-bottom:5px
}
h4{
    text-transform:uppercase;
    font-size:0.706em;
    position:relative;
    padding-left:23px;
    margin-bottom:35px
}
h4 span{
    background-position:0 0;
    position:absolute;
    width:15px;
    height:15px;
    left:0;
    top:0
}
p{
    margin-bottom:18px
}
strong{
    font-family:CooperHewitt-Medium
}
a{
    color:#a5c7e6
}
a span{
    color:#4b90cd
}
a:hover{
    text-decoration:none
}
img{
    display:block
}
figure{
    margin:0;
    margin-bottom:10px
}
fieldset div{
    position:relative
}
label{
    display:block;
    font-family:CooperHewitt-Semibold;
    text-transform:uppercase;
    font-size:0.765em;
    color:#4b90cd;
    margin-bottom:2px
}
input,textarea{
    font-family:CooperHewitt-Book;
    font-size:1em;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    border:1px solid #e6e6e6;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -khtml-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    padding:7px 10px;
    margin:0;
    margin-bottom:10px;
    display:block
}
textarea{
    height:173px
}
input[type="radio"]{
    width:auto;
    float:left;
    margin-right:10px
}
h4 span,a.button.close span,#socialShare ul li a.icon,#footermenu ul li a.icon,#search .tx-aussearch-form input[type="submit"],.fancybox-close,.flexslider.simpleslider .flex-direction-nav a,.flexslider.thumbnailslider .flex-direction-nav a,.flexslider.thumbnailcontrols .flex-direction-nav a,.tx-nak-events .ui-datepicker-header a,.tx-nak-adc-district .container.communities .community.text span,.tx-nak-district-events .ui-datepicker-header a.ui-datepicker-prev,.tx-nak-district-events .ui-datepicker-header a.ui-datepicker-next{
    background:url("../img/sprite.png") no-repeat
}
#header:before,#header:after,#mainmenu:before,#mainmenu:after,#mainmenu ul:before,#mainmenu ul:after,#content:before,#content:after,#contentFooter:before,#contentFooter:after,#footer:before,#footer:after,.grids:before,.grids:after,.row:before,.row:after,.community-content:before,.community-content:after,.container:before,.container:after,.firstLevel:before,.firstLevel:after,.form-group:before,.form-group:after{
    display:table;
    font-size:1px;
    line-height:0;
    height:0;
    content:"";
    overflow:hidden
}
#header:after,#mainmenu:after,#mainmenu ul:after,#content:after,#contentFooter:after,#footer:after,.grids:after,.row:after,.community-content:after,.container:after,.firstLevel:after,.form-group:after{
    clear:both
}
#header,#mainmenu,#breadcrumb,#footer{
    margin:0 auto;
    width:980px
}
#headerWrapper{
    padding:30px 0 5px 0
}
#header .slogan{
    font-family:Arial, sans-serif;
    float:left
}
#header .slogan strong{
    font-family:Arial, sans-serif;
    font-weight:bold;
    display:block
}
#logo{
    float:left
}
#metamenu{
    float:right;
    margin-bottom:15px
}
#submenuWrapper{
    background:#e6e6e6
}
#submenu{
    display:none;
    position:relative;
    margin:0 auto;
    width:980px;
    overflow:hidden
}
#breadcrumbWrapper{
    font-family:CooperHewitt-Medium;
    font-size:0.824em;
    background:#f5f5f5;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
    color:#9ea1a6;
    padding:30px 0
}
#pagetitle{
    padding-top:30px;
    color:#fff;
    position:relative
}
#pagetitle span{
    display:block;
    font-size:1.118em;
    margin-bottom:10px
}
#tabmenuWrapper{
    background:#82b1dd
}
#contentWrapper{
    padding:60px 0 0 0
}
#contentWrapper img{
    opacity:0;
    transition:opacity .3s ease-in
}
#contentLeft{
    float:left;
    width:645px
}
#contentRight{
    float:right;
    width:255px
}
#contentFooter{
    border-top:7px solid #e6e6e6;
    padding-top:40px;
    padding-bottom:50px
}
#contentFooter span{
    font-family:CooperHewitt-Semibold;
    font-size:0.882em;
    text-transform:uppercase;
    margin-bottom:15px;
    display:block
}
#share{
    float:left;
    width:145px
}
#keywords{
    float:left;
    width:500px
}
#footerWrapper{
    padding:48px 0;
    background:#4b90cd
}
#copyright{
    float:left;
    color:#a5c7e6;
    font-size:0.706em;
    text-transform:uppercase;
    padding-top:4px
}
#footermenu{
    float:right
}
#logo a{
    display:block
}
#logo a img{
    margin-right:15px
}
#metamenu ul li{
    float:left
}
#metamenu ul li a{
    display:block;
    color:#9ea1a6;
    font-size:0.706em;
    text-decoration:none;
    margin-left:18px;
    transition:color 0.1s
}
#metamenu ul li a:hover{
    color:#39444e
}
#metamenu ul li.ison a{
    color:#39444e
}
#mainmenu ul{
    text-align:center;
    float:right;
    margin-bottom:20px
}
#mainmenu ul li{
    float:left;
    margin-left:40px;
    position:relative
}
#mainmenu ul li a{
    font-family:PT-Sans-Bold;
    color:#39444e;
    font-size:0.765em;
    text-decoration:none;
    text-transform:uppercase;
    border-top:4px solid #fff;
    display:block;
    padding:17px 0;
    transition:border 0.2s
}
#mainmenu ul li a:hover,#mainmenu ul li a.act{
    border-top:4px solid #0c79c3
}
#mainmenu ul li:hover div{
    display:block !important
}
#mainmenu ul li.ison a,#mainmenu ul li.hover a{
    border-top:4px solid #0c79c3
}
#mainmenu ul li div{
    text-align:left;
    left:-20px;
    z-index:5000
}
#mainmenu ul li div ul{
    margin:0;
    text-align:left;
    float:left
}
#mainmenu ul li div ul:first-child li{
    border-left:0 none
}
#mainmenu ul li div ul li{
    margin:0;
    float:none;
    border-left:1px solid #82b1dd
}
#mainmenu ul li div ul li a{
    text-transform:none;
    color:#fff;
    border:0 none !important;
    border-bottom:1px solid #82b1dd !important;
    background:#4b90cd;
    padding:10px 20px;
    transition:background 0.2s
}
#mainmenu ul li div ul li a:hover{
    border:0 none;
    border-bottom:1px solid #82b1dd;
    background:#82b1dd
}
#mainmenu ul li.ison ul li a{
    border:0 none;
    border-bottom:1px solid #82b1dd
}
#breadcrumb ul li{
    display:inline
}
#breadcrumb ul li a{
    color:#4b90cd
}
#footermenu ul li{
    display:inline
}
#footermenu ul li a{
    color:#fff;
    font-size:0.706em;
    text-transform:uppercase;
    text-decoration:none;
    margin-left:18px;
    transition:color 0.1s
}
#footermenu ul li a.icon{
    text-indent:-10000px;
    display:inline-block
}
#footermenu ul li a.facebook{
    background-position:-127px -58px;
    width:11px;
    height:19px
}
#footermenu ul li a.twitter{
    background-position:-145px -56px;
    width:16px;
    height:19px
}
#footermenu ul li a:hover{
    color:#a5c7e6
}
#footermenu ul li.ison a{
    color:#a5c7e6
}
.wrapperGrey{
    background:#f5f5f5
}
.wrapperGrey .container{
    padding:50px 0 50px 0;
    width:980px
}
.wrapperGrey .container div.csc-textpic-intext-left .csc-textpic-imagewrap,.wrapperGrey .container div.csc-textpic-imagewrap .csc-textpic-imagewrap{
    margin-right:30px
}
.wrapperGrey .container h1{
    margin:0;
    margin-bottom:20px
}
.wrapperGrey .container p{
    margin:0;
    margin-bottom:8px
}
.wrapperGrey .container a.button{
    border:1px solid #a5c7e6;
    background:#4b90cd
}
.wrapperGrey .container a.button span{
    color:#fff
}
.wrapperGrey .container a.button:hover{
    background:#82b1dd
}

.grids img{
    margin-bottom:10px
}
.grids h1,.grids h2,.grids h3,.grids p{
    margin-right:0
}
.grids.border-bottom{
    border-bottom:1px solid #e6e6e6;
    padding:20px 0
}
.grids.full-width{
    margin-right:-170px
}
.column{
    float:left;
    margin-right:31px
}
.grid-10{
    width:100px
}
.grid-33{
    width:306px;
    padding-bottom:20px
}
.grid-50{
    width:474px
}
.grid-66{
    width:643px
}
.grid-66 .grid-50{
    width:306px
}
.grid-90{
    width:679px
}
.last-col{
    margin-right:0
}
ul.contentlist{
    margin-bottom:18px;
    margin-right:270px
}
ul.contentlist li{
    font-family:PT-Sans-Bold;
    color:#4b90cd;
    position:relative
}
ul.contentlist li span{
    font-family:CooperHewitt-Book;
    color:#333;
    padding-left:20px;
    display:block
}
ul.contentlist li ul,ul.contentlist li ol{
    margin-bottom:0
}
ul.contentlist li:before{
    content:"\2212 \0020";
    position:absolute
}
ol.contentlist{
    margin-bottom:18px;
    margin-right:270px;
    padding-left:21px;
    list-style:decimal
}
ol.contentlist li{
    font-family:PT-Sans-Bold;
    color:#4b90cd
}
ol.contentlist li span{
    font-family:CooperHewitt-Book;
    color:#333
}
ol.contentlist li ul,ol.contentlist li ol{
    margin-bottom:0
}
a.button{
    font-family:CooperHewitt-Semibold;
    font-size:0.765em;
    line-height:36px;
    text-transform:uppercase;
    text-decoration:none;
    color:#39444e;
    background:#f5f5f5;
    padding:0 13px;
    border:1px solid #e6e6e6;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    -khtml-border-radius:1px;
    -o-border-radius:1px;
    border-radius:1px;
    display:inline-block;
    cursor:pointer;
    transition:background 0.1s
}

a.button:hover{
    background:#e6e6e6
}
a.button.close{
    display:none;
    position:absolute;
    padding-right:25px;
    right:0;
    bottom:40px;
    z-index:5
}
a.button.close span{
    background-position:0 -31px;
    position:absolute;
    right:10px;
    top:15px;
    width:7px;
    height:6px
}
a.button.highlight{
    background:#4b90cd;
    color:#fff
}
a.button.highlight:hover{
    background:#82b1dd
}
input.button{
    font-family:CooperHewitt-Semibold;
    font-size:0.765em;
    line-height:36px;
    text-transform:uppercase;
    text-decoration:none;
    color:#39444e;
    background:#f5f5f5;
    padding:0 13px;
    border:1px solid #e6e6e6;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    -khtml-border-radius:1px;
    -o-border-radius:1px;
    border-radius:1px;
    display:inline-block;
    cursor:pointer;
    transition:background 0.1s
}
input.button:hover{
    background:#e6e6e6
}
input.button.highlight{
    background:#4b90cd;
    color:#fff
}
input.button.highlight:hover{
    background:#4b90cd
}
span.light{
    color:#9ea1a6
}
.parsley-errors-list{
    position:absolute;
    right:0;
    top:0;
    color:#db4e3c;
    font-size:0.765em;
    font-style:italic
}
.parsley-error{
    border:1px solid #eba79c
}
label.parsley-error{
    border:0 none;
    color:#db4e3c
}
.ui-helper-hidden{
    display:none
}
.ui-helper-hidden-accessible{
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
}
.ui-helper-reset{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    line-height:1.3;
    text-decoration:none;
    font-size:100%;
    list-style:none
}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{
    content:"";
    display:table;
    border-collapse:collapse
}
.ui-helper-clearfix:after{
    clear:both
}
.ui-helper-clearfix{
    min-height:0
}
.ui-helper-zfix{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    opacity:0;
    filter:Alpha(Opacity=0)
}
.ui-front{
    z-index:100
}
.faqAccordion{
    margin-bottom:5px
}
.faqAccordion .ui-accordion-header{
    font-family:CooperHewitt-Medium;
    display:block;
    cursor:pointer;
    position:relative;
    min-height:0;
    padding:15px 30px;
    padding-left:50px;
    background:#f5f5f5;
    border:1px solid #e6e6e6
}
.faqAccordion .ui-accordion-header:hover{
    color:#4b90cd
}
.faqAccordion .ui-accordion-header:hover .ui-accordion-header-icon{
    background-position:-88px -164px
}
.faqAccordion .ui-accordion-header.ui-state-active{
    background:#e6e6e6;
    color:#4b90cd
}
.faqAccordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon{
    background-position:-122px -164px
}
.faqAccordion .ui-accordion-header .ui-accordion-header-icon{
    background-position:-88px -132px;
    position:absolute;
    right:auto;
    left:13px;
    top:25%;
    width:27px;
    height:27px
}
.faqAccordion .ui-accordion-content{
    padding:10px 30px 30px 50px;
    background:#e6e6e6;
    padding:0 30px 30px 30px;
    border-top:0
}
.nakAccordion .ui-accordion-header{
    font-family:CooperHewitt-Medium;
    display:block;
    cursor:pointer;
    position:relative;
    min-height:0;
    padding:15px 30px;
    background:#f5f5f5;
    border:1px solid #e6e6e6
}
.nakAccordion .ui-accordion-header:hover{
    color:#4b90cd
}
.nakAccordion .ui-accordion-header:hover .ui-accordion-header-icon{
    background-position:-88px -66px
}
.nakAccordion .ui-accordion-header.ui-state-active{
    background:#e6e6e6;
    color:#4b90cd
}
.nakAccordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon{
    background-position:-88px -98px
}
.nakAccordion .ui-accordion-header .ui-accordion-header-icon{
    background-position:-88px -35px;
    position:absolute;
    right:13px;
    top:25%;
    width:27px;
    height:27px
}
.nakAccordion .ui-accordion-content{
    background:#e6e6e6;
    padding:0 30px 30px 30px;
    border-top:0
}
.nakTabs,#eventTabs{
    position:relative
}
.nakTabs .ui-tabs-nav li,#eventTabs .ui-tabs-nav li{
    float:left;
    background:#e6e6e6
}
.nakTabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,.nakTabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,.nakTabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor,#eventTabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,#eventTabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,#eventTabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{
    cursor:text
}
.nakTabs .ui-tabs-nav li.ui-tabs-active,#eventTabs .ui-tabs-nav li.ui-tabs-active{
    margin-bottom:-1px;
    padding-bottom:1px;
    background:#fff
}
.nakTabs .ui-tabs-nav li.ui-tabs-active span,.nakTabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,#eventTabs .ui-tabs-nav li.ui-tabs-active span,#eventTabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{
    color:#4b90cd
}
.nakTabs .ui-tabs-nav .ui-tabs-anchor,#eventTabs .ui-tabs-nav .ui-tabs-anchor{
    font-family:CooperHewitt-Semibold;
    text-transform:uppercase;
    font-weight:normal;
    font-style:normal;
    font-size:0.706em;
    color:#39444e;
    float:left;
    padding:20px 30px;
    text-decoration:none
}
.nakTabs .ui-tabs-nav .ui-tabs-anchor span,#eventTabs .ui-tabs-nav .ui-tabs-anchor span{
    color:#39444e;
    padding-top:5px;
    display:block
}
.nakTabs .ui-tabs-panel,#eventTabs .ui-tabs-panel{
    display:block;
    background:#fff
}
.tx-nak-district-events .hasDatepicker{
    background:#4b90cd;
    margin-bottom:25px;
    padding:30px
}
.tx-nak-district-events .hasDatepicker .ui-datepicker-calendar{
    width:100%;
    font-size:0.706em
}
.tx-nak-district-events .hasDatepicker .ui-datepicker-calendar th span{
    font-family:CooperHewitt-Medium;
    padding-bottom:15px;
    display:block
}
.tx-nak-district-events .hasDatepicker .ui-datepicker-calendar td{
    text-align:center;
    color:#a5c7e6
}
.tx-nak-district-events .hasDatepicker .ui-datepicker-calendar td span{
    font-family:CooperHewitt-Semibold;
    padding:7px;
    display:block
}
.tx-nak-district-events .hasDatepicker .ui-datepicker-calendar td a{
    font-family:CooperHewitt-Semibold;
    text-decoration:none;
    color:#fff;
    padding:7px;
    display:block
}
.tx-nak-district-events .hasDatepicker .ui-datepicker-calendar td.ui-datepicker-today a,.tx-nak-district-events .hasDatepicker .ui-datepicker-calendar td.ui-datepicker-today span{
    background:#82b1dd
}
.tx-nak-district-events .ui-datepicker-header{
    position:relative;
    padding-bottom:35px
}
.tx-nak-district-events .ui-datepicker-header a{
    position:absolute;
    width:28px;
    height:27px;
    top:5px;
    cursor:pointer;
    text-indent:-99999px
}
.tx-nak-district-events .ui-datepicker-header a.ui-datepicker-prev{
    background-position:-25px 0px;
    left:0
}
.tx-nak-district-events .ui-datepicker-header a.ui-datepicker-prev:hover{
    background-position:-25px -32px
}
.tx-nak-district-events .ui-datepicker-header a.ui-datepicker-next{
    background-position:-60px 0px;
    right:0
}
.tx-nak-district-events .ui-datepicker-header a.ui-datepicker-next:hover{
    background-position:-60px -32px
}
.tx-nak-district-events .ui-datepicker-title{
    font-size:1.294em;
    color:#fff;
    text-align:center;
    padding-top:5px
}
.tx-nak-district-events .tx-nak-district-events-item{
    margin-bottom:30px
}
.tx-nak-district-events .tx-nak-district-events-item span{
    font-size:0.706em;
    color:#9ea1a6;
    display:block;
    margin-bottom:10px
}
.tx-nak-district-events .tx-nak-district-events-item h3{
    color:#39444e;
    display:block;
    margin-bottom:3px;
    text-decoration:none
}
.tx-nak-district-events .tx-nak-district-events-item p{
    font-family:CooperHewitt-Book;
    font-size:100%;
    font-size:17px;
    text-transform:none;
    float:none
}
.tx-aus-slider{
    margin-right:80px
}
div.csc-textpic-responsive,div.csc-textpic-responsive *{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
div.csc-textpic,div.csc-textpic div.csc-textpic-imagerow,ul.csc-uploads li{
    overflow:hidden
}
div.csc-textpic .csc-textpic-imagewrap table{
    border-collapse:collapse;
    border-spacing:0
}
div.csc-textpic .csc-textpic-imagewrap table tr td{
    padding:0;
    vertical-align:top
}
div.csc-textpic .csc-textpic-imagewrap figure,div.csc-textpic figure.csc-textpic-imagewrap{
    margin:0;
    display:table
}
figcaption.csc-textpic-caption{
    display:table-caption
}
.csc-textpic-caption{
    text-align:left;
    caption-side:bottom
}
div.csc-textpic-caption-c .csc-textpic-caption,.csc-textpic-imagewrap .csc-textpic-caption-c{
    text-align:center
}
div.csc-textpic-caption-r .csc-textpic-caption,.csc-textpic-imagewrap .csc-textpic-caption-r{
    text-align:right
}
div.csc-textpic-caption-l .csc-textpic-caption,.csc-textpic-imagewrap .csc-textpic-caption-l{
    text-align:left
}
div.csc-textpic div.csc-textpic-imagecolumn{
    float:left
}
div.csc-textpic-border div.csc-textpic-imagewrap img{
    border:2px solid black;
    padding:0 0
}
div.csc-textpic .csc-textpic-imagewrap img{
    border:none;
    display:block
}
div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image{
    margin-bottom:10px
}
div.csc-textpic .csc-textpic-imagewrap .csc-textpic-imagerow-last .csc-textpic-image{
    margin-bottom:0
}
div.csc-textpic-imagecolumn,td.csc-textpic-imagecolumn .csc-textpic-image{
    margin-right:10px
}
div.csc-textpic-imagecolumn.csc-textpic-lastcol,td.csc-textpic-imagecolumn.csc-textpic-lastcol .csc-textpic-image{
    margin-right:0
}
div.csc-textpic-intext-left .csc-textpic-imagewrap,div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap{
    margin-right:10px
}
div.csc-textpic-intext-right .csc-textpic-imagewrap,div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap{
    margin-left:10px
}
div.csc-textpic-center .csc-textpic-imagewrap,div.csc-textpic-center figure.csc-textpic-imagewrap{
    overflow:hidden
}
div.csc-textpic-center .csc-textpic-center-outer{
    position:relative;
    float:right;
    right:50%
}
div.csc-textpic-center .csc-textpic-center-inner{
    position:relative;
    float:right;
    right:-50%
}
div.csc-textpic-right .csc-textpic-imagewrap{
    float:right
}
div.csc-textpic-right div.csc-textpic-text{
    clear:right
}
div.csc-textpic-left .csc-textpic-imagewrap{
    float:left
}
div.csc-textpic-left div.csc-textpic-text{
    clear:left
}
div.csc-textpic-intext-left .csc-textpic-imagewrap{
    float:left
}
div.csc-textpic-intext-right .csc-textpic-imagewrap{
    float:right
}
div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap{
    float:right
}
div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap{
    float:left
}
div.csc-textpic div.csc-textpic-imagerow-last,div.csc-textpic div.csc-textpic-imagerow-none div.csc-textpic-last{
    margin-bottom:0
}
div.csc-textpic-intext-left-nowrap div.csc-textpic-textwrap{
    float:left
}
div.grid-33 div.csc-textpic-center .csc-textpic-imagewrap,.grid-33 div.csc-textpic-center figure.csc-textpic-imagewrap{
    background:#f5f5f5;
    border:1px solid #e6e6e6;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    -khtml-border-radius:1px;
    -o-border-radius:1px;
    border-radius:1px;
    margin-bottom:10px
}
div.grid-33 div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image{
    margin-bottom:0
}
div.grid-33 div.csc-textpic-center .csc-textpic-imagewrap img,.grid-33 div.csc-textpic-center figure.csc-textpic-imagewrap img{
    margin-bottom:0
}
.fancybox-skin{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    padding:50px !important;
    background:#fff
}
.fancybox-skin h2{
    margin-bottom:25px
}
.fancybox-skin p{
    font-family:PT-Sans-Bold;
    font-size:0.765em;
    text-transform:uppercase;
    float:left;
    margin:0
}
.fancybox-skin p span{
    color:#4b90cd
}
.fancybox-skin .container{
    width:100%;
    padding:0
}
.fancybox-skin .button{
    float:right;
    width:auto;
    margin-bottom:0
}
.fancybox-skin .grids.full-width{
    margin:0
}
.fancybox-skin .grid-50{
    width:260px
}
.fancybox-close{
    background-position:0 -22px;
    width:10px;
    height:10px;
    top:20px;
    right:20px
}
.sbHolder{
    border:1px solid #e6e6e6;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -khtml-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    height:36px;
    position:relative;
    width:99.1%
}
.sbHolder.parsley-error{
    border:1px solid #eba79c
}
.sbSelector{
    display:block;
    height:36px;
    left:0;
    line-height:36px;
    outline:none;
    overflow:hidden;
    position:absolute;
    text-indent:10px;
    top:0;
    width:100%
}
.sbSelector:link,.sbSelector:visited,.sbSelector:hover{
    color:#333;
    outline:none;
    text-decoration:none
}
.sbToggle{
    background:url("../Images/sprite.png") no-repeat -175px -1px;
    display:block;
    height:36px;
    outline:none;
    position:absolute;
    right:0;
    top:0;
    width:38px
}
.sbToggleOpen{
    background:url("../Images/sprite.png") no-repeat -175px -46px
}
.sbHolderDisabled{
    background-color:#3C3C3C;
    border:solid 1px #515151
}
.sbOptions{
    background-color:#fff;
    border:1px solid #e6e6e6;
    list-style:none;
    left:-1px;
    margin:0;
    padding:0;
    position:absolute;
    top:30px;
    width:100%;
    z-index:200;
    overflow-y:auto;
    height:80px
}
.sbOptions li{
    padding:0 !important
}
.sbOptions li a{
    display:block;
    outline:none;
    padding:5px 10px
}
.sbOptions a:link,.sbOptions a:visited{
    color:#333;
    text-decoration:none
}
.sbOptions li a:hover{
    background:#ededed
}
.sbOptions li.last a{
    border-bottom:none
}
.sbOptions .sbDisabled{
    border-bottom:dotted 1px #515151;
    display:block;
    padding:7px 0 7px 3px
}
.sbOptions .sbGroup{
    border-bottom:dotted 1px #515151;
    display:block;
    padding:7px 0 7px 3px
}
.sbOptions .sbSub{
    padding-left:17px
}
.Tx-Formhandler .form-group span{
    display:block;
    font-family:CooperHewitt-Semibold;
    text-transform:uppercase;
    font-size:0.765em;
    color:#4b90cd;
    margin-bottom:2px
}
.Tx-Formhandler .form-group label{
    font-family:CooperHewitt-Book;
    color:#333;
    float:left;
    margin-right:30px;
    text-transform:none
}
.Tx-Formhandler .form-group div{
    float:left;
    margin:12px 0
}
.Tx-Formhandler p{
    font-family:CooperHewitt-Semibold;
    font-size:0.765em;
    text-transform:uppercase;
    color:#39444e;
    margin-top:45px
}
.Tx-Formhandler p span{
    color:#4b90cd
}
.Tx-Formhandler .button{
    width:auto;
    float:right;
    margin-top:35px
}
.news .f3-widget-paginator{
    text-align:left
}
.news .news-list-view .article{
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    -khtml-border-radius:1px;
    -o-border-radius:1px;
    border-radius:1px;
    margin-bottom:5px
}
.news .news-list-view .article h3{
    color:#39444e;
    margin-bottom:3px
}
.news .news-list-view .article h3 a{
    color:#39444e;
    display:block;
    margin-bottom:5px;
    text-decoration:none
}
.news .news-list-view .article p{
    margin-bottom:5px
}
.news .news-list-view .article .news-list-date,.news .news-list-view .article .news-list-category{
    font-size:0.706em;
    color:#9ea1a6;
    display:block
}
.news .news-datemenu li{
    display:inline;
    margin-right:-5px
}
.news .news-datemenu li a{
    font-family:PT-Sans-Bold;
    color:#39444e;
    font-size:0.765em;
    text-decoration:none;
    background:#f5f5f5;
    border:1px solid #e6e6e6;
    padding:10px
}
.news .news-datemenu li a:hover{
    background:#e6e6e6
}
.news .news-datemenu li.active a{
    background:#4b90cd;
    border:1px solid #4b90cd;
    color:#fff
}
.news-single .news-list-date-category{
    font-size:0.706em;
    color:#9ea1a6;
    display:block;
    margin:30px 0 15px 0
}
.news-single .news-img-wrap{
    margin-bottom:30px
}
.news-single .tx-aus-slider{
    margin:60px 0
}
.flexslider.simpleslider,.flexslider.thumbnailslider,.flexslider.carouselslider{
    border:0 none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 0 rgba(0,0,0,0.2);
    -o-box-shadow:0 0 0 rgba(0,0,0,0.2);
    box-shadow:0 0 0 rgba(0,0,0,0.2);
    margin:0
}
.flexslider.simpleslider .flex-caption,.flexslider.thumbnailslider .flex-caption,.flexslider.carouselslider .flex-caption{
    color:#333;
    text-align:left;
    background:transparent;
    text-shadow:0 0;
    width:230px;
    padding:0;
    top:23px;
    right:-250px;
    bottom:auto;
    left:auto;
    overflow:hidden
}
.flexslider.simpleslider .flex-caption h4,.flexslider.thumbnailslider .flex-caption h4,.flexslider.carouselslider .flex-caption h4{
    padding:0;
    font-size:0.941em;
    margin-bottom:15px
}
.flexslider.simpleslider .flex-caption p,.flexslider.thumbnailslider .flex-caption p,.flexslider.carouselslider .flex-caption p{
    margin:0;
    display:none
}
.flexslider.simpleslider .flex-caption p.bodytext,.flexslider.thumbnailslider .flex-caption p.bodytext,.flexslider.carouselslider .flex-caption p.bodytext{
    display:block
}
.flexslider.simpleslider .flex-control-paging li a,.flexslider.thumbnailslider .flex-control-paging li a,.flexslider.carouselslider .flex-control-paging li a{
    font-family:CooperHewitt-Semibold;
    font-size:0.882em;
    background:#e6e6e6;
    background:#e5e5e5;
    -webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 0 rgba(0,0,0,0.2);
    -o-box-shadow:0 0 0 rgba(0,0,0,0.2);
    box-shadow:0 0 0 rgba(0,0,0,0.2)
}
.flexslider.simpleslider .flex-direction-nav a,.flexslider.thumbnailslider .flex-direction-nav a,.flexslider.carouselslider .flex-direction-nav a{
    text-indent:-99999px;
    background-position:-102px 0px;
    width:25px;
    height:44px;
    top:40%;
    bottom:auto;
    left:0;
    opacity:1;
    font-size:0;
    border:0 none;
    -webkit-transition:none;
    -moz-transition:none;
    transition:none
}
.flexslider.simpleslider .flex-direction-nav a:before,.flexslider.thumbnailslider .flex-direction-nav a:before,.flexslider.carouselslider .flex-direction-nav a:before{
    font-size:0
}
.flexslider.simpleslider .flex-direction-nav a:hover,.flexslider.thumbnailslider .flex-direction-nav a:hover,.flexslider.carouselslider .flex-direction-nav a:hover{
    background-position:-102px -59px
}
.flexslider.simpleslider .flex-direction-nav a.flex-next,.flexslider.thumbnailslider .flex-direction-nav a.flex-next,.flexslider.carouselslider .flex-direction-nav a.flex-next{
    background-position:-134px 0px;
    left:auto;
    right:0
}
.flexslider.simpleslider .flex-direction-nav a.flex-next:hover,.flexslider.thumbnailslider .flex-direction-nav a.flex-next:hover,.flexslider.carouselslider .flex-direction-nav a.flex-next:hover{
    background-position:-134px -59px
}
.flexslider.simpleslider .flex-control-nav.flex-control-thumbs,.flexslider.thumbnailslider .flex-control-nav.flex-control-thumbs,.flexslider.carouselslider .flex-control-nav.flex-control-thumbs{
    margin-top:15px
}
.flexslider.simpleslider .flex-control-nav.flex-control-thumbs li,.flexslider.thumbnailslider .flex-control-nav.flex-control-thumbs li,.flexslider.carouselslider .flex-control-nav.flex-control-thumbs li{
    width:145px;
    margin-left:1px
}
.flexslider.simpleslider .flex-control-nav.flex-control-thumbs li:first-child,.flexslider.thumbnailslider .flex-control-nav.flex-control-thumbs li:first-child,.flexslider.carouselslider .flex-control-nav.flex-control-thumbs li:first-child{
    margin-left:0
}
.flexslider.simpleslider .flex-control-nav.flex-control-thumbs li img,.flexslider.thumbnailslider .flex-control-nav.flex-control-thumbs li img,.flexslider.carouselslider .flex-control-nav.flex-control-thumbs li img{
    width:100%;
    height:auto
}
.flexslider.simpleslider .flex-control-paging li a.flex-active,.flexslider.thumbnailslider .flex-control-paging li a.flex-active,.flexslider.carouselslider .flex-control-paging li a.flex-active{
    background:#4b90cd;
    background:#4c90cd
}
.flexslider.simpleslider .slides img,.flexslider.thumbnailslider .slides img,.flexslider.carouselslider .slides img{
    opacity:1 !important;
    height:auto
}
.flexslider.simpleslider .slide-info,.flexslider.thumbnailslider .slide-info,.flexslider.carouselslider .slide-info{
    position:absolute;
    top:0;
    right:-250px;
    width:230px;
    color:#9ea1a6;
    display:block;
    font-size:0.706em;
    margin-bottom:2px
}
.flexslider.thumbnailslider .flex-direction-nav a{
    top:50%
}
.flexslider.thumbnailcontrols{
    border:0 none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 0 rgba(0,0,0,0.2);
    -o-box-shadow:0 0 0 rgba(0,0,0,0.2);
    box-shadow:0 0 0 rgba(0,0,0,0.2);
    margin:15px 0px
}
.flexslider.thumbnailcontrols .slides>li{
    margin-left:1px;
    opacity:0.5
}
.flexslider.thumbnailcontrols .slides>li:first-child{
    margin:0
}
.flexslider.thumbnailcontrols .slides>li.flex-active-slide{
    opacity:1
}
.flexslider.thumbnailcontrols .flex-direction-nav a{
    text-indent:-99999px;
    background-position:-102px 0px;
    width:25px;
    height:45px;
    top:50%;
    bottom:auto;
    left:0;
    opacity:1;
    font-size:0;
    -webkit-transition:none;
    -moz-transition:none;
    transition:none
}
.flexslider.thumbnailcontrols .flex-direction-nav a:before{
    font-size:0
}
.flexslider.thumbnailcontrols .flex-direction-nav a:hover{
    background-position:-102px -59px
}
.flexslider.thumbnailcontrols .flex-direction-nav a.flex-next{
    background-position:-134px 0px;
    left:auto;
    right:0
}
.flexslider.thumbnailcontrols .flex-direction-nav a.flex-next:hover{
    background-position:-134px -59px
}
.flexslider.thumbnailcontrols img{
    opacity:1 !important;
    width:100%;
    height:auto
}
.flexslider.newsslider{
    margin-bottom:50px
}
.layout-1 .news{
    margin-top:50px
}
.layout-1 .wrapperBlue .flexslider.simpleslider{
    margin:-50px 0;
    width:730px;
    float:right
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-caption{
    left:-250px;
    top:0;
    bottom:auto;
    width:210px;
    padding:60px 40px 0 0;
    background:#4c90cd;
    text-align:left;
    color:#fff;
    line-height:normal
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-caption p{
    margin-bottom:18px;
    overflow:visible;
    text-overflow:clip;
    -o-text-overflow:clip;
    white-space:inherit
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-caption h4{
    font-family:CooperHewitt-Medium;
    font-size:1.765em;
    text-transform:none;
    padding-left:0
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-caption a{
    font-size:0.824em;
    line-height:36px;
    text-transform:uppercase;
    text-decoration:none;
    background:#4b90cd;
    color:#fff;
    padding:0 13px;
    border:1px solid #a5c7e6;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    -khtml-border-radius:1px;
    -o-border-radius:1px;
    border-radius:1px;
    display:inline-block;
    transition:border 0.2s
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-caption a:hover{
    border:1px solid #fff
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-control-nav{
    left:-250px;
    bottom:35px;
    width:250px;
    text-align:left
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-control-nav li{
    margin-left:0
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-control-nav li a{
    color:#fff;
    text-indent:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 0 rgba(0,0,0,0.2);
    -o-box-shadow:0 0 0 rgba(0,0,0,0.2);
    box-shadow:0 0 0 rgba(0,0,0,0.2);
    background:none
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-control-nav li a.flex-active{
    color:#a5c7e6
}
.layout-1 .wrapperBlue .flexslider.simpleslider .flex-control-nav.flex-control-thumbs img{
    opacity:1 !important
}
 